<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @album.title %>
</p>

<p>
  <b>Project:</b>
  <%= @album.project.name %>
</p>

<p>
  <b>Genre:</b>
  <%= @album.genre.name %>
</p>

<p>
  <b>Label:</b>
  <%= @album.label.name %>
</p>

<p>
  <b>Comment:</b>
  <%= @album.comment %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
